<table class="table">
<tbody>
	<!-- publications in arxiv in 2019 -->
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2019</strong></big><br />
				
				October
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="https://arxiv.org/pdf/1910.04807.pdf">Link Prediction via Graph Attention Network</a>.
			</span><br />
			<span class="authors">
				Weiwei Gu, Fei Gao, Xiaodan Lou and Jiang Zhang
			</span><br />
			<span class="venuetype"></span><span class="venue">Arxiv</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>

	<!-- publication in arxiv, 2019 -->
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2019</strong></big><br />
				
				September
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="https://arxiv.org/pdf/1909.07018.pdf">Gumbel-softmax Optimization: A Simple General Framework for Combinatorial Optimization Problems on Graphs</a>.
			</span><br />
			<span class="authors">
				Jing Liu, Fei Gao and Jiang Zhang
			</span><br />
			<span class="venuetype"></span><span class="venue">Arxiv</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>

	<!-- inventation patent in 2019 -->
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2019</strong></big><br />
				
				June
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="https://arxiv.org/pdf/1812.11482.pdf">A General Deep Learning Framework for Network Reconstruction and Dynamics Learning</a>.
			</span><br />
			<span class="authors">
				Zhang Zhang, Yi Zhao, Jing Liu, Shuo Wang, Ruyi Tao, Ruyue Xin and Jiang Zhang
			</span><br />
			<span class="venuetype"></span><span class="venue">Arxiv</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>

	<!-- inventation patent in 2019 -->
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2019</strong></big><br />
				
				Febrary
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="https://arxiv.org/pdf/1802.00539v1.pdf">Complex Network Classification with Convolutional Neural Network</a>.
			</span><br />
			<span class="authors">
				Ruyue Xin, Jiang Zhang and Yitong Shao
			</span><br />
			<span class="venuetype"></span><span class="venue">Arxiv</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>

	<!-- inventation patent in 2019 -->
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2019</strong></big><br />
				
				January
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="https://bnusss.github.io/resource/2018112532356.pdf">一种对复杂网络进行链路预测的方法</a>.
			</span><br />
			<span class="authors">
				Weiwei Gu , Fei Gao and Jiang Zhang
			</span><br />
			<span class="venuetype"></span><span class="venue">Invention Patent</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<!-- inventation patent in 2018 -->
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
				October
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="https://bnusss.github.io/resource/2018101385349.pdf">基于OCR与文本分析技术对注意力的测量方法</a>.
			</span><br />
			<span class="authors">
				Jiang Zhang , Mengyuan Chen , Li Gong and Qian Zhang
			</span><br />
			<span class="venuetype"></span><span class="venue">nvention Patent</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>


	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
				November
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="https://www.nature.com/articles/s41467-017-01882-w.pdf">Simple spatial scaling rules behind complex cities</a>.
			</span><br />
			<span class="authors">
				Ruiqi Li, Lei Dong, Jiang Zhang, Xinran Wang, Wen-Xu Wang, Zengru Di, and H. Eugene Stanley.
			</span><br />
			<span class="venuetype"></span><span class="venue">Nature Communications</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
				October
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="https://arxiv.org/pdf/1704.05743.pdf">The Hidden Flow Structure and Metric Space of Network Embedding Algorithms Based on Random Walks</a>.
			</span><br />
			<span class="authors">
				Weiwei Gu, Li Gong, Xiaodan Lou, and Jiang Zhang.
			</span><br />
			<span class="venuetype"></span><span class="venue">Scientific Reports</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2016</strong></big><br />
				
				October
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="http://swarmagents.cn.13442.m8849.cn/thesis/doc/jake_382.pdf">The Atlas of Chinese World Wide Web Ecosystem Shaped by the Collective Attention Flows</a>.
			</span><br />
			<span class="authors">
				Xiaodan Lou, Yong Li, Weiwei Gu, and Jiang Zhang.
			</span><br />
			<span class="venuetype"></span><span class="venue">PLoS ONE</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2016</strong></big><br />
				
				May
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="https://www.nature.com/articles/srep26377.pdf">Population-weighted efficiency in transportation networks</a>.
			</span><br />
			<span class="authors">
				Lei Dong, Ruiqi Li, Jiang Zhang, and Zengru Di.
			</span><br />
			<span class="venuetype"></span><span class="venue">Scientific Reports</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2015</strong></big><br />
				
				November
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="http://swarmagents.cn.13442.m8849.cn/thesis/doc/jake_378.pdf">Open Flow Distances on Open Flow Networks</a>.
			</span><br />
			<span class="authors">
				Liangzhu Guo, Xiaodan Lou, Peiteng Shi, Jun Wang, Xiaohan Huang, and Jiang Zhang.
			</span><br />
			<span class="venuetype"></span><span class="venue">Physica A</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2015</strong></big><br />
				
				September
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="http://swarmagents.cn.13442.m8849.cn/thesis/doc/jake_380.pdf">A Geometric Representation of Collective Attention Flows</a>.
			</span><br />
			<span class="authors">
				Peiteng Shi, Xiaohan Huang, Jun Wang, Jiang Zhang, Su Deng, and Yahui Wu.
			</span><br />
			<span class="venuetype"></span><span class="venue">PLoS ONE</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2015</strong></big><br />
				
				August
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="http://swarmagents.cn.13442.m8849.cn/thesis/doc/jake_376.pdf">Allometric scaling, size distribution and pattern formation of natural cities</a>.
			</span><br />
			<span class="authors">
				Xintong Li, Xinran Wang, Jiang Zhang, and Lingfei Wu.
			</span><br />
			<span class="venuetype"></span><span class="venue">Palgrave Communications</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2015</strong></big><br />
				
				July
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="http://swarmagents.cn.13442.m8849.cn/thesis/doc/jake_377.pdf">Maximum Entropy for the International Division of Labor</a>.
			</span><br />
			<span class="authors">
				Hongmei Lei, Ying Chen, Ruiqi Li, Deli He, and Jiang Zhang.
			</span><br />
			<span class="venuetype"></span><span class="venue">PLoS ONE</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2015</strong></big><br />
				
				April
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="http://swarmagents.cn.13442.m8849.cn/thesis/doc/jake_379.pdf">Scaling behaviours in the growth of networked systems and their geometric origins</a>.
			</span><br />
			<span class="authors">
				Jiang Zhang, Xintong Li, Xinran Wang, Wen-xu Wang, and Lingfei Wu.
			</span><br />
			<span class="venuetype"></span><span class="venue">Scientific Reports</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2014</strong></big><br />
				
				September
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="http://swarmagents.cn.13442.m8849.cn/thesis/doc/jake_375.pdf">the metabolism and growth of web forums</a>.
			</span><br />
			<span class="authors">
				Lingfei Wu, Jiang Zhang, and Min Zh.
			</span><br />
			<span class="venuetype"></span><span class="venue">PLoS ONE</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2014</strong></big><br />
				
				September
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="swarmagents.cn.13442.m8849.cn/thesis/doc/jake_374.pdf">Hierarchicality of Trade Flow Networks Reveals Complexity of Products</a>.
			</span><br />
			<span class="authors">
				Peiteng Shi, Jiang Zhang, Bo Yang, and Jingfei Luo.
			</span><br />
			<span class="venuetype"></span><span class="venue">PLoS ONE</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2014</strong></big><br />
				
				March
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="swarmagents.cn.13442.m8849.cn/thesis/doc/jake_373.pdf">Common patterns of energy flow and biomass distribution on weighted food webs</a>.
			</span><br />
			<span class="authors">
				Jiang Zhang and Yuanjing Feng.
			</span><br />
			<span class="venuetype"></span><span class="venue">Physica A</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2014</strong></big><br />
				
				March
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="http://swarmagents.cn.13442.m8849.cn/thesis/download.asp?address=doc/jake_372.pdf">Capabilities' substitutability and the "S" curve of export diversity</a>.
			</span><br />
			<span class="authors">
				Hongmei Lei and Jiang Zhang.
			</span><br />
			<span class="venuetype"></span><span class="venue">EPL</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2013</strong></big><br />
				
				August
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="http://swarmagents.cn.13442.m8849.cn/thesis/doc/jake_371.pdf">Allometry and Dissipation of Ecological Flow Networks</a>.
			</span><br />
			<span class="authors">
				Jiang Zhang and Lingfei Wu.
			</span><br />
			<span class="venuetype"></span><span class="venue">PLoS ONE</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2013</strong></big><br />
				
				August
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="http://swarma.net/thesis/doc/jake_370.pdf">The decentralized flow structure of clickstreams on the web</a>.
			</span><br />
			<span class="authors">
				Lingfei Wu and Jiang Zhang.
			</span><br />
			<span class="venuetype"></span><span class="venue">European Physics Journal B</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2013</strong></big><br />
				
				July
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="http://swarmagents.cn.13442.m8849.cn/thesis/doc/jake_371.pdf">Centralized Flow Structure of International Trade Networks for Different Products</a>.
			</span><br />
			<span class="authors">
				Peiteng Shi, Jingfei Luo, Peng-hao Wang, and Jiang Zhang.
			</span><br />
			<span class="venuetype"></span><span class="venue">International Conference on Management Science and Engineering</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2012</strong></big><br />
				
				July
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="http://swarmagents.cn.13442.m8849.cn/thesis/doc/jakeScurve.pdf">The "S" curve relationship between export diversity and economic size of countries</a>.
			</span><br />
			<span class="authors">
				Lunchao Hu, Kailan Tian, Xin Wang, and Jiang Zhang.
			</span><br />
			<span class="venuetype"></span><span class="venue">Physica A</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2011</strong></big><br />
				
				September
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="http://swarmagents.cn.13442.m8849.cn/thesis/doc/levyflight.pdf">Toward a general understanding of the scaling laws in human and animal mobility</a>.
			</span><br />
			<span class="authors">
				Yanqing Hu, Jiang Zhang, Zengru Di, and Di Huan.
			</span><br />
			<span class="venuetype"></span><span class="venue">European Physics Letters</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2011</strong></big><br />
				
				July
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="http://swarmagents.cn.13442.m8849.cn/thesis/doc/jake_361.pdf">Accelerating growth and size-dependent distribution of human online activities</a>.
			</span><br />
			<span class="authors">
				Ling-Fei Wu and Jiang Zhang.
			</span><br />
			<span class="venuetype"></span><span class="venue">Physical Review E</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2011</strong></big><br />
				
				February
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="http://swarmagents.cn.13442.m8849.cn/thesis/doc/jake_350.pdf">Size-Dependency of Income Distributions and Its Implications</a>.
			</span><br />
			<span class="authors">
				You Gui Wang Jiang Zhang.
			</span><br />
			<span class="venuetype"></span><span class="venue">Chinese Physics Letters</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>
