<table class="table">
<tbody>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
				November
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="https://arxiv.org/pdf/1704.05743.pdf">The Hidden Flow Structure and Metric Space of Network Embedding Algorithms Based on Random Walks</a>.
			</span><br />
			<span class="authors">
				Xiaodan Lou Weiwei Gu and Jiang Zhang.
			</span><br />
			<span class="venuetype"></span><span class="venue">Scientific Reports</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
				November
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="http://swarmagents.cn.13442.m8849.cn/thesis/download.asp?address=doc/jake_384.pdf">Simple spatial scaling rules behind complex cities</a>.
			</span><br />
			<span class="authors">
				Jiang Zhang Ruiqi Li and E.G. Stanley.
			</span><br />
			<span class="venuetype"></span><span class="venue">Nature Communications</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>
