<table class="table">
<tbody>
	





	<tr>
		<td>
			<span class="date">
				
				<big><strong>2020</strong></big><br />
				
				Nov
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="https://www.nature.com/articles/s42256-020-00244-4">An interpretable deep-learning architecture of capsule networks for identifying cell-type gene expression programs from single-cell RNA-sequencing data</a>.
			</span><br />
			<span class="authors">
				 Lifei Wang,Rui Nie,Zeyang Yu, Ruyue Xin, Caihong Zheng, Zhang Zhang, Jiang Zhang, Jun Cai
			</span><br />
			<span class="venuetype"></span><span class="venue">Nature Machine Intelligence</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>






	<tr>
		<td>
			<span class="date">
				
				<big><strong>2020</strong></big><br />
				
				Oct

			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="https://www.tandfonline.com/doi/abs/10.1080/09588221.2020.1825094">Using learning analytics to understand collective attention in language MOOCs</a>.
			</span><br />
			<span class="authors">
				 Shuang Zeng,Jingjing Zhang,Ming Gao , Kate M. Xu, Jiang Zhang
			</span><br />
			<span class="venuetype"></span><span class="venue">Computer AssistedLanguage Learning</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>



	<tr>
		<td>
			<span class="date">
				
				<big><strong>2020</strong></big><br />
				
				April
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="https://www.mdpi.com/2071-1050/12/9/3511">A Topological Analysis of Trade Distance: Evidence from the Gravity Model and Complex Flow Networks</a>.
			</span><br />
			<span class="authors">
				 Zongning Wu, Hongbo Cai, Ruining Zhao, Ying Fan, Zengru Di and Jiang Zhang *
			</span><br />
			<span class="venuetype"></span><span class="venue">MDPI</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>







	<tr>
		<td>
			<span class="date">
				
				<big><strong>2020</strong></big><br />
				
				April
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="l">Gumbel-softmax-based Optimization: A Simple General Framework for Optimization Problems on Graphs</a>.
			</span><br />
			<span class="authors">
				Yaoxin Li, Jing Liu, Guozheng Lin, Yueyuan Hou, Muyun Mou, Jiang Zhang
			</span><br />
			<span class="venuetype"></span><span class="venue">Arxiv</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>







	<tr>
		<td>
			<span class="date">
				
				<big><strong>2020</strong></big><br />
				
				March
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="https://link.springer.com/content/pdf/10.1007/s11071-020-05769-2.pdf">Investigating time, strength, and duration of measures in controlling the spread of COVID-19 using a networked meta-population model</a>.
			</span><br />
			<span class="authors">
				 Jiang Zhang* . Lei Dong . Yanbo Zhang . Xinyue Chen . Guiqing Yao . Zhangang Han
			</span><br />
			<span class="venuetype"></span><span class="venue">MDPI</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>


	
	<tr>
		<td>
			<span class="date">
				<big><strong>2020</strong></big><br />
				Jan
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="https://arxiv.org/pdf/2001.06576.pdf">A Topological Analysis of Trade Distance: Evidence from the Gravity Model and Complex Flow Networks</a>.
			</span><br />
			<span class="authors">
				Zongning Wu,Hongbo Cai,Ruining Zhao,Ying Fan, Zengru Di, Jiang Zhang:
			</span><br />
			<span class="venuetype"></span><span class="venue">Sustainability</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>





	<tr>
		<td>
			<span class="date">
				<big><strong>2020</strong></big><br />
				Jan
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="https://arxiv.org/pdf/2001.06576.pdf">Inference for Network Structure and Dynamics from Time Series Data via Graph Neural Network</a>.
			</span><br />
			<span class="authors">
				Mengyuan Chen, Jiang Zhang*, Zhang Zhang, Lun Du, Qiao Hu, Shuo Wang, Jiaqi Zhu
			</span><br />
			<span class="venuetype"></span><span class="venue">Arxiv</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>


	<tr>
		<td>
			<span class="date">
				<big><strong>2020</strong></big><br />
				Jan
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="http://tst.tsinghuajournals.com/EN/10.26599/TST.2019.9010055">Complex Network Classification with Convolutional Neural Network</a>.
			</span><br />
			<span class="authors">
				Ruyue Xin, Jiang Zhang*, Yitong Shao
			</span><br />
			<span class="venuetype"></span><span class="venue">Tsinghua Science and Technology</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>


	<!-- publications in arxiv in 2019 -->
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2019</strong></big><br />
				
				October
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="https://arxiv.org/pdf/1910.04807.pdf">Link Prediction via Graph Attention Network</a>.
			</span><br />
			<span class="authors">
				Weiwei Gu, Fei Gao, Xiaodan Lou and Jiang Zhang
			</span><br />
			<span class="venuetype"></span><span class="venue">Arxiv</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>

	<!-- publication in arxiv, 2019 -->
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2019</strong></big><br />
				
				September
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="https://arxiv.org/pdf/1909.07018.pdf">Gumbel-softmax Optimization: A Simple General Framework for Combinatorial Optimization Problems on Graphs</a>.
			</span><br />
			<span class="authors">
				Jing Liu, Fei Gao and Jiang Zhang
			</span><br />
			<span class="venuetype"></span><span class="venue">Arxiv</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>

	<!-- inventation patent in 2019 -->
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2019</strong></big><br />
				
				June
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="https://arxiv.org/pdf/1812.11482.pdf">A General Deep Learning Framework for Network Reconstruction and Dynamics Learning</a>.
			</span><br />
			<span class="authors">
				Zhang Zhang, Yi Zhao, Jing Liu, Shuo Wang, Ruyi Tao, Ruyue Xin and Jiang Zhang
			</span><br />
			<span class="venuetype"></span><span class="venue">Arxiv</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>

	<!-- inventation patent in 2019 -->
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2019</strong></big><br />
				
				May
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="https://www.biorxiv.org/content/10.1101/506642v2">scCapsNet: a deep learning classifier with the capability of interpretable feature extraction, applicable for single cell RNA data analysis</a>.
			</span><br />
			<span class="authors">
				Lifei Wang, Rui Nie, Ruyue Xin, Jiang Zhang, Jun Cai
			</span><br />
			<span class="venuetype"></span><span class="venue">Arxiv</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>


	<!-- inventation patent in 2019 -->
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2019</strong></big><br />
				
				Apr
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="https://www.tandfonline.com/doi/pdf/10.1080/01587919.2019.1600368">Modeling collective attention in online and flexible learning environments</a>.
			</span><br />
			<span class="authors">
				J. Zhang, X. Lou, H. Zhang & J. Zhang
			</span><br />
			<span class="venuetype"></span><span class="venue">Distance Education, 40:2, 278-301</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>

	<!-- inventation patent in 2019 -->
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2019</strong></big><br />
				
				March
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="https://www.biorxiv.org/content/10.1101/570507v1">MultiCapsNet: a interpretable deep learning classifier integrate data from multiple sources</a>.
			</span><br />
			<span class="authors">
				Lifei Wang, Xuexia Miao, Jiang Zhang, Jun Cai
			</span><br />
			<span class="venuetype"></span><span class="venue">Bioarxiv</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>

	<!-- inventation patent in 2019 -->
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2019</strong></big><br />
				
				Febrary
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="https://arxiv.org/pdf/1802.00539v1.pdf">Complex Network Classification with Convolutional Neural Network</a>.
			</span><br />
			<span class="authors">
				Ruyue Xin, Jiang Zhang and Yitong Shao
			</span><br />
			<span class="venuetype"></span><span class="venue">Arxiv</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>

	<!-- inventation patent in 2019 -->
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2019</strong></big><br />
				
				January
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="https://iopscience.iop.org/article/10.1088/1367-2630/ab00aa/pdf">Coevolution of Agent's Behavior and Noise Parameters in Majority Vote Game on Multilayer Networks</a>.
			</span><br />
			<span class="authors">
				Jing Liu, Ying Fan, Jiang Zhang and Zengru Di
			</span><br />
			<span class="venuetype"></span><span class="venue">New Journal of Physics 21(1)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>

	<!-- inventation patent in 2019 -->
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2019</strong></big><br />
				
				January
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="https://bnusss.github.io/resource/2018112532356.pdf">一种对复杂网络进行链路预测的方法</a>.
			</span><br />
			<span class="authors">
				Weiwei Gu , Fei Gao and Jiang Zhang
			</span><br />
			<span class="venuetype"></span><span class="venue">Invention Patent</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<!-- inventation patent in 2018 -->
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
				October
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="https://bnusss.github.io/resource/2018101385349.pdf">基于OCR与文本分析技术对注意力的测量方法</a>.
			</span><br />
			<span class="authors">
				Jiang Zhang , Mengyuan Chen , Li Gong and Qian Zhang
			</span><br />
			<span class="venuetype"></span><span class="venue">nvention Patent</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>


	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
				November
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="https://www.nature.com/articles/s41467-017-01882-w.pdf">Simple spatial scaling rules behind complex cities</a>.
			</span><br />
			<span class="authors">
				Ruiqi Li, Lei Dong, Jiang Zhang, Xinran Wang, Wen-Xu Wang, Zengru Di, and H. Eugene Stanley.
			</span><br />
			<span class="venuetype"></span><span class="venue">Nature Communications</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
				October
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="https://arxiv.org/pdf/1704.05743.pdf">The Hidden Flow Structure and Metric Space of Network Embedding Algorithms Based on Random Walks</a>.
			</span><br />
			<span class="authors">
				Weiwei Gu, Li Gong, Xiaodan Lou, and Jiang Zhang.
			</span><br />
			<span class="venuetype"></span><span class="venue">Scientific Reports</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>





		<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
				May
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="https://arxiv.org/abs/1705.09462">Human mobility in interest space and interactive random walk</a>.
			</span><br />
			<span class="authors">
				 Fanqi Zeng,Li Gong,Jing Liu,Jiang Zhang, Qinghua Chen, Ruyue Xin
			</span><br />
			<span class="venuetype"></span><span class="venue">Journal of Physics: Complexity</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>




	<tr>
		<td>
			<span class="date">
				
				<big><strong>2016</strong></big><br />
				
				October
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="http://swarmagents.cn.13442.m8849.cn/thesis/doc/jake_382.pdf">The Atlas of Chinese World Wide Web Ecosystem Shaped by the Collective Attention Flows</a>.
			</span><br />
			<span class="authors">
				Xiaodan Lou, Yong Li, Weiwei Gu, and Jiang Zhang.
			</span><br />
			<span class="venuetype"></span><span class="venue">PLoS ONE</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2016</strong></big><br />
				
				May
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="https://www.nature.com/articles/srep26377.pdf">Population-weighted efficiency in transportation networks</a>.
			</span><br />
			<span class="authors">
				Lei Dong, Ruiqi Li, Jiang Zhang, and Zengru Di.
			</span><br />
			<span class="venuetype"></span><span class="venue">Scientific Reports</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2015</strong></big><br />
				
				November
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="http://swarmagents.cn.13442.m8849.cn/thesis/doc/jake_378.pdf">Open Flow Distances on Open Flow Networks</a>.
			</span><br />
			<span class="authors">
				Liangzhu Guo, Xiaodan Lou, Peiteng Shi, Jun Wang, Xiaohan Huang, and Jiang Zhang.
			</span><br />
			<span class="venuetype"></span><span class="venue">Physica A</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2015</strong></big><br />
				
				September
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="http://swarmagents.cn.13442.m8849.cn/thesis/doc/jake_380.pdf">A Geometric Representation of Collective Attention Flows</a>.
			</span><br />
			<span class="authors">
				Peiteng Shi, Xiaohan Huang, Jun Wang, Jiang Zhang, Su Deng, and Yahui Wu.
			</span><br />
			<span class="venuetype"></span><span class="venue">PLoS ONE</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2015</strong></big><br />
				
				August
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="http://swarmagents.cn.13442.m8849.cn/thesis/doc/jake_376.pdf">Allometric scaling, size distribution and pattern formation of natural cities</a>.
			</span><br />
			<span class="authors">
				Xintong Li, Xinran Wang, Jiang Zhang, and Lingfei Wu.
			</span><br />
			<span class="venuetype"></span><span class="venue">Palgrave Communications</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2015</strong></big><br />
				
				July
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="http://swarmagents.cn.13442.m8849.cn/thesis/doc/jake_377.pdf">Maximum Entropy for the International Division of Labor</a>.
			</span><br />
			<span class="authors">
				Hongmei Lei, Ying Chen, Ruiqi Li, Deli He, and Jiang Zhang.
			</span><br />
			<span class="venuetype"></span><span class="venue">PLoS ONE</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2015</strong></big><br />
				
				April
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="http://swarmagents.cn.13442.m8849.cn/thesis/doc/jake_379.pdf">Scaling behaviours in the growth of networked systems and their geometric origins</a>.
			</span><br />
			<span class="authors">
				Jiang Zhang, Xintong Li, Xinran Wang, Wen-xu Wang, and Lingfei Wu.
			</span><br />
			<span class="venuetype"></span><span class="venue">Scientific Reports</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2014</strong></big><br />
				
				September
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="http://swarmagents.cn.13442.m8849.cn/thesis/doc/jake_375.pdf">the metabolism and growth of web forums</a>.
			</span><br />
			<span class="authors">
				Lingfei Wu, Jiang Zhang, and Min Zh.
			</span><br />
			<span class="venuetype"></span><span class="venue">PLoS ONE</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2014</strong></big><br />
				
				September
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="swarmagents.cn.13442.m8849.cn/thesis/doc/jake_374.pdf">Hierarchicality of Trade Flow Networks Reveals Complexity of Products</a>.
			</span><br />
			<span class="authors">
				Peiteng Shi, Jiang Zhang, Bo Yang, and Jingfei Luo.
			</span><br />
			<span class="venuetype"></span><span class="venue">PLoS ONE</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2014</strong></big><br />
				
				March
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="swarmagents.cn.13442.m8849.cn/thesis/doc/jake_373.pdf">Common patterns of energy flow and biomass distribution on weighted food webs</a>.
			</span><br />
			<span class="authors">
				Jiang Zhang and Yuanjing Feng.
			</span><br />
			<span class="venuetype"></span><span class="venue">Physica A</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2014</strong></big><br />
				
				March
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="http://swarmagents.cn.13442.m8849.cn/thesis/download.asp?address=doc/jake_372.pdf">Capabilities' substitutability and the "S" curve of export diversity</a>.
			</span><br />
			<span class="authors">
				Hongmei Lei and Jiang Zhang.
			</span><br />
			<span class="venuetype"></span><span class="venue">EPL</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2013</strong></big><br />
				
				August
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="http://swarmagents.cn.13442.m8849.cn/thesis/doc/jake_371.pdf">Allometry and Dissipation of Ecological Flow Networks</a>.
			</span><br />
			<span class="authors">
				Jiang Zhang and Lingfei Wu.
			</span><br />
			<span class="venuetype"></span><span class="venue">PLoS ONE</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2013</strong></big><br />
				
				August
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="http://swarma.net/thesis/doc/jake_370.pdf">The decentralized flow structure of clickstreams on the web</a>.
			</span><br />
			<span class="authors">
				Lingfei Wu and Jiang Zhang.
			</span><br />
			<span class="venuetype"></span><span class="venue">European Physics Journal B</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2013</strong></big><br />
				
				July
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="http://swarmagents.cn.13442.m8849.cn/thesis/doc/jake_371.pdf">Centralized Flow Structure of International Trade Networks for Different Products</a>.
			</span><br />
			<span class="authors">
				Peiteng Shi, Jingfei Luo, Peng-hao Wang, and Jiang Zhang.
			</span><br />
			<span class="venuetype"></span><span class="venue">International Conference on Management Science and Engineering</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2012</strong></big><br />
				
				July
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="http://swarmagents.cn.13442.m8849.cn/thesis/doc/jakeScurve.pdf">The "S" curve relationship between export diversity and economic size of countries</a>.
			</span><br />
			<span class="authors">
				Lunchao Hu, Kailan Tian, Xin Wang, and Jiang Zhang.
			</span><br />
			<span class="venuetype"></span><span class="venue">Physica A</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2011</strong></big><br />
				
				September
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="http://swarmagents.cn.13442.m8849.cn/thesis/doc/levyflight.pdf">Toward a general understanding of the scaling laws in human and animal mobility</a>.
			</span><br />
			<span class="authors">
				Yanqing Hu, Jiang Zhang, Zengru Di, and Di Huan.
			</span><br />
			<span class="venuetype"></span><span class="venue">European Physics Letters</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2011</strong></big><br />
				
				July
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="http://swarmagents.cn.13442.m8849.cn/thesis/doc/jake_361.pdf">Accelerating growth and size-dependent distribution of human online activities</a>.
			</span><br />
			<span class="authors">
				Ling-Fei Wu and Jiang Zhang.
			</span><br />
			<span class="venuetype"></span><span class="venue">Physical Review E</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2011</strong></big><br />
				
				February
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="http://swarmagents.cn.13442.m8849.cn/thesis/doc/jake_350.pdf">Size-Dependency of Income Distributions and Its Implications</a>.
			</span><br />
			<span class="authors">
				You Gui Wang Jiang Zhang.
			</span><br />
			<span class="venuetype"></span><span class="venue">Chinese Physics Letters</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>
